<html>
<head>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>


<div class="container">

<h1>Welcome, <%= @user.name %>!</h1>
<form action="/tweets" accept-charset="UTF-8" method="post">
	<label for="tweet_text">Tweet Something:</label>
	<input type="text" name="tweet_text" id="tweet_text" />
	<input type="submit" name="commit" value="Tweet It!" />
</form>
<h1>Tweets You Follow </h1>
<%= erb :'tweet_display', locals: {tweets: @followed_tweets} %>
</div>

</body>
</html>