<html>
<head>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<%= erb :'navbar' %>
<div class="container">

<h1>Login</h1>
<div>
<form action="/login" accept-charset="UTF-8" method="post">
	<label for="name">Name:</label>
	<input type="text" name="name" id="name" />
	<label for="pass">Password:</label>
	<input type="text" name="pass" id="pass" />
	<input type="submit" name="commit" value="Login" />
</form>or
<a href="/register">Register!</a>
</div>

<h1>Recent Tweets</h1>
<%= erb :'tweet_display', locals: {tweets: @tweets} %>
</div>
</body>
</html>